root = true

[*.cs]
dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.IDE0005.severity = suggestion
dotnet_diagnostic.IDE0060.severity = suggestion
dotnet_diagnostic.IDE0160.severity = suggestion

dotnet_diagnostic.CS8600.severity = error
dotnet_diagnostic.CS8602.severity = error
dotnet_diagnostic.CS8603.severity = error
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.CA2016.severity = error
dotnet_diagnostic.CA2000.severity = warning
dotnet_diagnostic.CA2201.severity = warning
dotnet_diagnostic.MA0004.severity = warning

[API/*Tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.MA0018.severity = none
