@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hanken Grotesk';
  src: url('/fonts/HankenGrotesk-Italic-VariableFont_wght.woff2') format('woff2');
  font-weight: 400 800;
  font-style: italic;
  font-display: swap;
}
